<div class="general__tarjetas">
    <section class="tarjetas__productos">
        <img src="../../../../assets/Image/vestidos/n_manta_dos-removebg-preview.png" alt="Producto 1">
        <h3>Manta jier</h3>
        <p>
            coleccion unica <br>
            tallas: todas las tallas <br>
            colores : variedad en colores
        </p>
        <button class="boton-carrito"></button>
    </section>
    <section class="tarjetas__productos">
        <img src="../../../../assets/Image/vestidos/manta_cuatro-removebg-preview.png" alt="Producto 1">
        <h3>Manta style</h3>
        <p>
            coleccion unica <br>
            tallas: todas las tallas <br>
            colores : variedad en colores
        </p>
        <button class="boton-carrito"></button>
    </section>
    <section class="tarjetas__productos">
        <img src="../../../../assets/Image/vestidos/manta_seis-removebg-preview.png" alt="Producto 1">
        <h3>Manta inte</h3>
        <p>
            coleccion unica <br>
            tallas: todas las tallas <br>
            colores : variedad en colores
        </p>
        <button class="boton-carrito"></button>
    </section>
    <section class="tarjetas__productos">
        <img src="../../../../assets/Image/vestidos/n_manta_tres-removebg-preview.png" alt="Producto 1">
        <h3>Manta samanta</h3>
        <p> 
            coleccion unica <br>
            tallas: todas las tallas <br>
            colores : variedad en colores
        </p>
        <button class="boton-carrito"></button>
    </section>
    <section class="tarjetas__productos">
        <img src="../../../../assets/Image/vestidos/manta_nueve-removebg-preview.png" alt="Producto 1">
        <h3>Manta florida </h3>
        <p> 
            coleccion unica <br>
            tallas: todas las tallas <br>
            colores : variedad en colores
        </p>
        <button class="boton-carrito"></button>
    </section>
    <section class="tarjetas__productos">
        <img src="../../../../assets/Image/vestidos/n_manta_ocho-removebg-preview.png" alt="Producto 1">
        <h3>Manta ondergroud</h3>
        <p>
            coleccion unica <br>
            tallas: todas las tallas <br>
            colores : variedad en colores
        </p>
        <button class="boton-carrito"></button>
    </section>
    <section class="tarjetas__productos">
        <img src="../../../../assets/Image/vestidos/n_manta_cinco-removebg-preview.png" alt="Producto 1">
        <h3>Manta jasay</h3>
        <p> 
            coleccion unica <br>
            tallas: todas las tallas <br>
            colores : variedad en colores
        </p>
        <button class="boton-carrito"></button>
    </section>
    <section class="tarjetas__productos">
        <img src="../../../../assets/Image/vestidos/n_manta_siete-removebg-preview.png" alt="Producto 1">
        <h3>Manta juse</h3>
        <p>
            coleccion unica <br>
            tallas: todas las tallas <br>
            colores : variedad en colores
        </p>
        <button class="boton-carrito"></button>
    </section>
</div>


