
<div class="general">
    <section class="banner">
        <div class="banner__img">
            
        </div>
        <section class="banner-content">
            <h2>Descubre nuestras increíbles mochilas artesanales</h2>
            <p>Explora nuestra colección única de mochilas, cuidadosamente diseñadas y tejidas a mano por artesanos expertos.</p>
            <div class="button">
                <button class="productos">
                    Ver colección
                </button>
            </div>
            <button class="nav-item" >
                <i class="fas fa-chevron-down"></i>
            </button>
            <span class="p_destacados">Productos Destacados</span>
        </section>

    </section>
