<div class="about">
    <section class="about__vision">
        <div class="contenedor-rombo">

        </div>
        <div class="vision_text_uno">
            <div class="texto-vision">
                <p><span>N</span>uestra visión es ser el puente que conecta el arte ancestral de las artesanías Wayuu
                    con el mundo moderno, preservando la rica cultura y tradiciones de esta comunidad indígena mientras
                    inspiramos a través de la belleza y la autenticidad de cada pieza.</p>
            </div>
        </div>
    </section>
    <section class="about__mision">
        <div class="vision_text">
            <div class="texto-vision">
                <p><span>N</span>uestra misión es promover y preservar el arte y la cultura Wayuu, fomentando el
                    comercio justo y sostenible, brindando apoyo a las comunidades indígenas y compartiendo la belleza y
                    la historia de sus creaciones con el mundo
                    .</p>
            </div>
        </div>
        <div class="contenedor-rombo__dos">
            Contenedor Rombo
        </div>
    </section>
</div>